/* Reset some default browser styles */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  margin: 0;
  padding: 0;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; /* Make headings bold */
  /*margin-left: 5em;*/
  margin: 2em auto 1em auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*!* Responsive design (example) *!*/
/*@media (max-width: 768px) {*/
/*  .container {*/
/*    padding: 1rem; !* Reduce padding on smaller screens *!*/
/*  }*/
/*}*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


#container {
  /*aspect-ratio: 1;*/
  margin: 10% auto 20%;
  display: flex;
  flex-wrap: wrap;
  max-width: 256px; /* Set a max width for the main content */
  max-height: 256px;
  /*align-items: center;*/
  /*border: 1px solid black;*/

}

body {
  background-image: url("tan-paper-bg.jpg");
  background-color: hsl(75, 35%, 81%);
}

.div-color-container {
  background-color: #36013f;
}

.grid-item {
  display: flex;
  flex: auto auto;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  /*border: 1px solid black;*/
  box-sizing: border-box;
  background-color:  #4CAF50;
}

/*.grid-item:hover {*/
/*  background-color: lightgray;*/
/*}*/
#buttons-container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  justify-content: center;
  margin: auto;
  vertical-align: top;
}
label {
  display: inline-block;
  margin: 1rem ;
}

input[type="button"] {
  margin: 1rem auto;
  /*border: darkgray;*/
  border-radius: 5px;
  display: flex;
  width: 80px;
  align-items: center;
}

input, button {
  /*margin: 5px;*/
  background-color: hsl(51, 88%, 23%, 82%);
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  color: hsl(75, 35%, 81%);
}