/* Reset some default browser styles */
* {
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  margin: 0;
  padding: 0;
}

/* Basic body styles */
/*body {*/
/*  font-family: sans-serif; !* Set a default font *!*/
/*  line-height: 1.5; !* Improve readability *!*/
/*  background-color: #f0f0f0; !* Set a background color *!*/
/*  color: #333; !* Set a text color *!*/
/*}*/

/* Link styles */
a {
  color: #007bff; /* Set a link color */
  text-decoration: none; /* Remove underlines */
}

a:hover {
  text-decoration: underline; /* Add underline on hover */
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; /* Make headings bold */
  /*margin-left: 5em;*/
  margin: 2em auto 5em auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* List styles */
ul, ol {
  list-style-type: none; /* Remove default bullet points/numbers */
  margin-bottom: 1rem; /* Add spacing below lists */
}

/* Utility classes (optional) */
.container {
  max-width: 960px; /* Set a max width for the main content */
  margin: 0 auto; /* Center the container */
  padding: 2rem; /* Add padding around the container */
}

.clearfix::after {
  content: "";
  display: table;
  clear: both; /* Clear floats */
}

/*!* Responsive design (example) *!*/
/*@media (max-width: 768px) {*/
/*  .container {*/
/*    padding: 1rem; !* Reduce padding on smaller screens *!*/
/*  }*/
/*}*/

/* ... Add your specific styles here ... */
.main {
  /*display: flex;*/
}


#container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  align-items: center;
  /*border: 1px solid black;*/

}

body {
  background-color: lightgray;
}

.div-color-container {
  background-color: #36013f;
}

.grid-item {
  display: flex;
  flex: 1 1;
  aspect-ratio: 1;
  /*min-width: 256px;*/
  align-items: center;
  justify-content: center;
  /*width: 10px;*/
  /*height: 10px;*/
  /*border: 1px solid black;*/
  box-sizing: border-box;
  background-color:  #4CAF50;
}

/*.grid-item:hover {*/
/*  background-color: lightgray;*/
/*}*/
#buttons-container {
  display: flex;
  font-family: 'Consolas', sans-serif;
  align-items: center;
  justify-content: center;
  margin: auto;
  vertical-align: top;
}
label {
  display: inline-block;
  margin: 1rem ;
}

input[type="button"] {
  margin: 1rem auto;
  border: darkgray;
  border-radius: 5px;
  display: flex;
  width: 80px;
  align-items: center;
}
